.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.left-content {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  margin-left: 90px;
  
}

.week-specials {
  font-size: 2em;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 40px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-text {
  width: 100%;
  padding: 10px;
  
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 2px;
  text-align: center;
}

.card-price-container{
  display: flex;
  align-items: center;
  
  text-align: center;
  
}

.card-price {
  font-size: 1.2em;
  
  text-align: center;
}

.card-description {
  font-size: .8em;
  margin-top: 10px;
}

.card-delivery {
  font-size: 0.8em;
  color: gray;
  margin-top: 10px;
}

.right-content {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.order-button {
  padding: 10px 20px;
  background-color: #f4ce14;
  color: white;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 90px;
  margin-top: 40px;
}

.order-button:hover {
  background-color: #b8a33c;
}
